*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media only screen and (max-width: 768px){
	.container{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 35px;
	}
	img{
		width: 75vw;
	}
	h2{
		font-size: 16px;
	}
	.text{
		align-items: center;
	}
	h1{
	word-spacing: 15px;
	padding-top: 20px;
	font-weight: bold;
	font-size: 24px;
	}

	p{
		text-align: center;
		padding-top: 20px;
		font-size: 18px;
	}
	button{
		margin-top: 20px;
		width: 50vw;
	}
}

@media only screen and (min-width: 768px){
	.container{
		display: flex;
		justify-content: space-around;
		padding: 65px;
	}
	img{
		width: 40vw;
	}
	.text{
		width: 40vw;
		
	}
	h1{
	word-spacing: 50px;
	font-weight: bold;
	font-size: 48px;
	}

	p{
	width: 20vw;
	font-size: 18px;
	word-spacing: 10px;
	}
	button{
		width: 15vw;
	}
}
a{
	color: black;
	text-decoration: none;
}
h2{
	padding: 15px 35px;
	font-family: "Inconsolata";
}

.text{
	font-family: "Poppins", cursive;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
}

button{
	border: none;
	background-color: black;
	font-family: Space Mono;
	letter-spacing: -0.035em;
	font-weight: bold;
	font-size: 14px;
	color: white;
	padding: 24px 43px;
}

footer{
	display: flex;
	justify-content: center;
}